[submodule "daemon/tamisud_core/third_party/MagiskbootAlone"]
	path = daemon/tamisud_core/third_party/MagiskbootAlone
	url = https://github.com/Anatdx/MagiskbootAlone.git
[submodule "daemon/tamisud_core/third_party/bootctlAlone"]
	path = daemon/tamisud_core/third_party/bootctlAlone
	url = https://github.com/Anatdx/bootctlAlone.git
[submodule "daemon/tamisud_core/third_party/resetpropAlone"]
	path = daemon/tamisud_core/third_party/resetpropAlone
	url = https://github.com/Anatdx/resetpropAlone.git
[submodule "daemon/tamisud_core/third_party/ndk-busybox"]
	path = daemon/tamisud_core/third_party/ndk-busybox
	url = https://github.com/Anatdx/ndk-busybox.git
