menu "KernelSU"

config KSU
	  tristate "KernelSU function support"
	  depends on m
	  default m
	  help
		Enable kernel-level root privileges on Android System.
		YukiSU only supports loadable kernel module (LKM). Choose M.
		Built-in (=y) is no longer supported.
		The module will be called kernelsu.

config KSU_DEBUG
	  bool "KernelSU debug mode"
	  depends on KSU
	  default n
	  help
		Enable KernelSU debug mode.

endmenu
