menu "Tamisu"

config TAMISU
	  tristate "KernelSU function support"
	  depends on ARM64
	  default m
	  help
		Enable kernel-level root privileges on Android System.
		YukiSU only supports loadable kernel module (LKM). Choose M.
		Built-in (=y) is no longer supported.
		The module will be called kernelsu.

config TAMISU_DEBUG
	  bool "TAMISU debug mode"
	  depends on TAMISU
	  default n
	  help
		Enable KernelSU debug mode.

endmenu
